@font-face { 
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSans/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSans/PTSansRegular/PTSansRegular.ttf") format("truetype");
}
@font-face { 
    font-family: "PlayfairDisplayRegular";
    src: url("../fonts/PlayfairDisplay/PlayfairDisplayRegular/PlayfairDisplayRegular.eot");
    src: url("../fonts/PlayfairDisplay/PlayfairDisplayRegular/PlayfairDisplayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayfairDisplay/PlayfairDisplayRegular/PlayfairDisplayRegular.woff") format("woff"),
    url("../fonts/PlayfairDisplay/PlayfairDisplayRegular/PlayfairDisplayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: "PostNoBillsJaffna-Bold";
    src: url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Bold.ttf") format("truetype");
    font-style: bold;
    font-weight: 700;
}

* 
{
   margin: 0;
   padding: 0;
}
main
{
    background-color: black;
}
.hed_line
{
    padding: 0 20%;
    color: rgba(150, 150, 150, 1);
    font-family: PTSansRegular;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.top_line
{
    letter-spacing: 1px;
    height: 44px;
    background-color: rgba(0, 0, 0, 1);
}
.top_line p
{
    margin-left: 15px;
}
.top_line *
{
    height: 16px;
}
.top_line p:first-of-type
{
    flex-grow: 2;
    align-self: left;
}
.top_line p:last-of-type:hover
{
    text-decoration: underline;
}
.second_line
{
    height: 80px;
    background-color: rgba(15, 15, 15, 1);
}
.second_line a:first-of-type
{
    flex-grow: 1;
    font-family: PostNoBillsJaffna-Bold;
    color: white;
    font-size: 36px;
    font-weight: 700;
    justify-content: flex-start;
}
.second_line a
{
    text-decoration: none; 
    color: rgba(150, 150, 150, 1);
    display: flex;
    width: 136px;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.second_line a:hover:not(a:first-of-type)
{
    background-color: rgba(31, 31, 31, 1);
    color: white;
}
.second_line a.hed_img_link
{
    width: auto;
}
.second_line img
{
    height: 20px;
    margin: 30px 20px;
}
.first_screen
{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
    background: url("../img/fons/Rectangle_3.png") center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
}
.first_screen div
{
    background: url("../img/icon/name_conpani.svg") center center;
    background-repeat: no-repeat;
    background-size: 60%;
    transition: background-size 0.5s ease-in-out;
    border: rgba(255, 255, 255, 1) solid;
    width: 320px;
    height: 320px;
    margin-bottom: 80px;
}
.first_screen div:hover
{
    background-size: 70%;
}
.first_screen p 
{
    width: 39%;
    height: 96px;
    font-family: PTSansRegular;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.main_blocks
{  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.season_collection
{
    display: flex;
    height: 730px;
}
.season_collection > div:first-of-type
{
    width: 55%;
}
.season_collection_text
{
    font-family: PlayfairDisplayRegular;
    font-weight: 600;
    font-size: 36px;
    color: white;
}
.season_collection > div:first-of-type hr
{
    margin: 50px 0;
}
.season_collection > div:first-of-type ul
{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
.season_collection > div:first-of-type ul li
{
    margin: 0 25px;
}
.watch_collection
{
    font-family: PlayfairDisplayRegular;
    color: white;
    width: 260px;
    height: 405px;
}
.watch_collection div
{
/*    width: 100%;*/
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(25, 27, 28, 1);
}
.watch_collection div img
{
    width: 80%;
    transition: width 0.5s ease;
    height: 215px;
}
.watch_collection div img:hover
{
    width: 85%;
}
.watch_collection p:first-of-type
{
    font-size: 18px;
    margin-top: 15px;
}
.watch_collection p:last-of-type
{
    margin-top: 15px;
    font-size: 16px;
}
.season_collection > div:last-of-type
{
    background: url("../img/fons/Rectangle_8.png") center center;
    background-repeat: no-repeat;
    width: 45%;
    justify-content: flex-end;
}
.season_collection > div:last-of-type hr
{
    margin: 30px 0;
}
.season_collection_button
{
    width: 138px;
    height: 47px;
    border: white 1px solid;
    background: none;
    color: white;
    font-family: PTSansRegular;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 100px;
}
.season_collection_button:hover
{
    background: rgba(255, 255, 255, 10%);
}
.year_collection div.main_blocks
{
    width: 55%;
}
.year_collection
{
    display: flex;
    height: 600px;
}
.year_collection img
{
    width: 50%;
}
.year_collection button.season_collection_button
{
    width: 32%;
    margin: 0;
}
.year_collection div hr
{
    margin: 40px 0;
}
.year_collection div p:not(.season_collection_text)
{
    width: 48%;
    height: 200px;
    font-family: PTSansRegular;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-align: center;
}